.app {
  display: flex;
  height: 100vh;
  min-width: 1024px;
  margin: 0 auto;
  align-items: stretch;
  background-color: #ffffff;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 100%;
  border-right: 1px solid lightgray;
  font-size: 12px;
}

.navigation-container {
  flex-grow: 1;
  overflow: auto;
}

.navigation__header {
  font-size: 1.2em;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.navigation__header > a {
  color: #000000 !important;
}

.navigation > .navigation__item > a {
  padding-left: 25px;
}

.navigation > li+li {
  margin-top: 0;
}

.navigation > li > a {
  border-radius: 0;
}

.code-preview {
  flex: 1 1 auto;
  border-right: 1px solid lightgray;
}

.demo-container {
  padding: 5px;
}
