.language-select {
  padding: 10px 20px;
}

.language-select > span {
  display: inline-block;
  line-height: 1;
}

.language-select__language {
  border-bottom: 1px dotted;
  cursor: pointer;
}

.language-select__language[disabled] {
  color: lightgray;
  border-color: lightgray;
  pointer-events: none;
}

.language-select__language--selected {
  font-weight: bold;
  border-bottom: 1px solid;
}

.language-select__divider {
  padding: 0 3px;
}
