{
  "presets": ["../tools/es2015-preset", "@babel/react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "dev-expression",
    ["transform-react-remove-prop-types", { "removeImport": true }]
  ]
}
